In [1]:
#Question 1

a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
a

0

In [3]:
b()
a

2

In [4]:
b()
b()
a

6

In [5]:
b()
b()
b()
a

12

What value is displayed when the last expression (a) is evaluated?
The last value aster the last expression is executed is 12 and it is explained below.
a = 0

b()=c(a)=0+2=2
a=2

b() 2+2 =4
b() 4+2=6
a = 6

b() 6+2 =8
b() 8+2=10
b() 10+2=12
a=12

For each function b() that is executed it will take the previous value of a

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [3]:
midterm = "midterm.txt"
try:

    def fileLenght(midterm):
        file = open(midterm)
        contents = file.read()
        print(len(contents))

except FileNotFoundError:
    print('File idterm not found')
    exit()

In [4]:
fileLenght(midterm)

123

In [1]:
try:
    file = open('idterm.txt')
    print(file)
    file.close()
except FileNotFoundError:
    print('File \'idterm\' not found')
    exit()

File 'idterm' not found

Question 3

In [4]:
class Marsupial(object):
    def __init__(self):
        self.pouch_contents = []
    
    def put_in_pouch(self, thing):
        self.pouch_contents.append(thing)
    
    def __str__(self):
        return format(self.pouch_contents)
    
    def __repr__(self):
        return format(self.pouch_contents)

In [5]:
m = Marsupial()

m.put_in_pouch("Doll")
m.put_in_pouch("Firetruck")
m.put_in_pouch("Kitten")

print(m)

['Doll', 'Firetruck', 'Kitten']

In [ ]:
class Kangaroo(Marsupial):
    def jump(x, y):
        for jump:

In [3]:
#Question 4

def Collatz(x):
    if x==1:
        return 1.0
    else:
        if x%2==0:
            x = x/2
            print (x)
        else:
            x = 3*x + 1
            print(x)
    
    return(Collatz(x))
              

print(Collatz(10))

5.0
16.0
8.0
4.0
2.0
1.0
1.0

In [1]:
def Binary(x):
   
    if x == 0:
        return "0"
    else:
        return Binary(x//2) + str(x%2)

Binary(0)

'0'

In [2]:
Binary(1)

'01'

In [3]:
Binary(3)

'011'

In [4]:
Binary(9)

'01001'

In [1]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\bets_\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\bets_\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: prettytable in c:\users\bets_\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\bets_\anaconda3\lib\site-packages (from ipython-sql) (2.0.17)
Requirement already satisfied: ipython-genutils in c:\users\bets_\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\bets_\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\bets_\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\bets_\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\bets_\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: pickleshare in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: backcall in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: jedi>=0.16 in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: matplotlib-inline in c:\users\bets_\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\bets_\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\bets_\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\bets_\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\bets_\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\bets_\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
import sqlite3

con = sqlite3.connect('Question8.db')
cur = con.cursor()
#cur.execute("CREATE TABLE Weather1 (City text, Country text, Season text, Temperature float, Rainfall float)")

In [4]:
List_Weather= [("Mumbai", "India", "Winter", 24.8, 5.9), 
               ("Mumbai", "India", "Spring", 28.4, 16.2), 
               ("Mumbai", "India", "Summer", 27.9, 1549.4), 
               ("Mumbai", "India", "Fall", 27.6, 346.0),
              ("London", "United Kingdom", "Winter", 4.2, 207.7),
              ("London", "United Kingdom", "Spring", 8.3, 169.6),
              ("London", "United Kingdom", "Summer", 15.7, 157.0),
              ("London", "United Kingdom", "Fall", 10.4, 218.5),
              ("Cairo", "Egypt", "Winter", 13.6, 16.5),
              ("Cairo", "Egypt", "Spring", 20.7, 6.5),
              ("Cairo", "Egypt", "Summer", 27.7, 0.1),
              ("Cairo", "Egypt", "Fall", 22.2, 4.5)]

for i in List_Weather:
    cur.execute("INSERT INTO Weather1 VALUES(?, ?, ?, ?, ?)", (i[0], i[1], i[2], i[3], i[4]))
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [5]:

#a)All the temperature data.
cur.execute("SELECT Temperature FROM Weather1")
for i in cur:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [6]:
#b) All the cities, but without repetition
cur.execute("SELECT Distinct CITY FROM Weather1")
for i in cur:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

In [7]:
#c) All the records for India.
word = "India"
cur.execute("SELECT * FROM Weather1 WHERE Country = ?", (word,))
for i in cur:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [8]:
#d) All the Fall records.
word = "Fall"
cur.execute("SELECT * FROM Weather1 WHERE Season = ?", (word,))
for i in cur:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [22]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

cur.execute("SELECT City, Country, Season, AVG(Rainfall) FROM Weather1 WHERE Rainfall BETWEEN 200 AND 400")

for i in cur:
    print(i)

('Mumbai', 'India', 'Fall', 257.40000000000003)

In [25]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cur.execute("SELECT City, Country, AVG(Temperature) FROM Weather1 WHERE Temperature > 20 ORDER by Temperature")

for i in cur:
    print(i)

('Mumbai', 'India', 25.614285714285707)

In [18]:
#g) The total annual rainfall for Cairo.
word = "Cairo"
cur.execute("SELECT SUM(Rainfall) FROM Weather1 WHERE City = ?", (word,))

for i in cur:
    print(i)

(27.6,)

In [28]:
#h) The total rainfall for each season.

cur.execute("SELECT Season FROM Weather1 WHERE SUM(Rainfall) BETWEEN 0 AND 100)

for i in cur:
    print(i)

SyntaxError: unterminated string literal (detected at line 3) (1677834959.py, line 3)

In [51]:
#Question9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#a)
Upper = list(map(str.upper, words))

print(words)
print(Upper)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [52]:
#b)
Lower = list(map(str.lower, words))

print(Lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [60]:
#c
words_lenght = []

for i in range(0, (len(words[0]))):
    words_lenght.append(len(words[i]))

print(words_lenght)

[3, 5, 5]

In [57]:
# d)
list_in_list = [Upper, Lower, words_lenght]



print(list_in_list)

[['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG'], ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'], [3, 5, 5]]

In [69]:
#e)

for word in words:
    if len(word)>= 4:
        print((word))

quick
brown
jumps
over
lazy